<div id="chart">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [stroke]="chartOptions.stroke"
      [tooltip]="chartOptions.tooltip"
      [dataLabels]="chartOptions.dataLabels"
      [legend]="chartOptions.legend"
      [markers]="chartOptions.markers"
      [grid]="chartOptions.grid"
      [title]="chartOptions.title"
    ></apx-chart>
  </div>
  
  <div id="piechart">
    <apx-chart
      [series]="pieChartOptions.series"
      [chart]="pieChartOptions.chart"
      [labels]="pieChartOptions.labels"
      [responsive]="pieChartOptions.responsive"
    ></apx-chart>
  </div>
  